{{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            <legend>Informations initiales</legend>
        </div>
        
        <div class="col-md-12 row div-form">
            <div class="col-md-4">
                {{ form_row(form.nom) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.nomUsage) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.prenom) }}
            </div>
            <div class="col-md-10">
                {{ form_row(form.email) }}
            </div>
            <div class="col-md-2">
                {{ form_row(form.typeCandidat) }}
            </div>
        </div>

        
        
        <div class="col-md-12 row div-form">
            <div class="col-md-3">
                {{ form_row(form.poste) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.service) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.site) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.datePrevisEmbauche) }}
            </div>
        </div>

        <div class="col-md-12 row div-form">
            <div class="col-md-6">
                {{ form_row(form.debutCDD) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.finCDD) }}
            </div>
        </div>

        <div class="col-md-12 row div-form">
            <div class="col-md-6">
                {{ form_row(form.periodeEssai) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.prime) }}
            </div>
        </div>

        <div class="col-md-12">
             <legend>Informations remplies par le candidat</legend>
        </div>

        <div class="col-md-12">
            <div class="form-group row">
                <div class="col-md-3">
                    {{form_row(form.sexe)}}
                </div>
                <div class="col-md-6">
                    {{form_row(form.numeroSs)}}
                </div>
                <div class="col-md-3">
                    {{form_row(form.cle)}}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-5">
                    {{form_label(form.adresse)}}
                    {{form_widget(form.adresse)}}
                    {{form_help(form.adresse)}}
                    <ul id="adresse-select-list" class="list-group"></ul>
                </div>
                <div class="col-md-5">
                    {{form_row(form.complementAdresse)}}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-5">
                    {{form_row(form.codePostal)}}
                </div>
                <div class="col-md-5">
                    {{form_row(form.ville)}}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6 col-md-3">
                    {{form_label(form.dateDeNaissance)}}
                    {{form_widget(form.dateDeNaissance)}}
                </div>
                <div class="col-sm-6 col-md-3">
                    {{form_label(form.villeNaissance)}}
                    {{form_widget(form.villeNaissance)}}
                </div>
                <div class="col-sm-6 col-md-3">
                    {{form_label(form.departementNaissance)}}
                    {{form_widget(form.departementNaissance)}}
                </div>
                <div class="col-sm-6 col-md-3">
                    {{form_label(form.paysNaissance)}}
                    {{form_widget(form.paysNaissance)}}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6 col-md-4">
                    {{form_row(form.nationnalite)}}
                </div>
                <div class="col-sm-6 col-md-3">
                    {{form_row(form.dateExpirationTs)}}
                </div>
            </div>

            {% import _self as formMacros %}
            {% macro printCollectionFichiersRow(formElement) %}<div class='col-md-11 element-collection-file'>{{form_label(formElement)}}{{form_widget(formElement)}}<div class='col-md-1 suppression'><button type='button' class='btn btn-xs btn-danger'><i class='bi bi-trash'></i>Retirer</button></div></div>{% endmacro %}
            <legend class="mt-4">Documents à fournir</legend>
            {% for typeDocument in candidat.typeCandidat.documentsAFournir|filter(typeDocument => typeDocument.multiple == false) %}
                <div class="form-group col-md-6">
                    {{ form_label(form[typeDocument.slug]) }}
                    {{ form_widget(form[typeDocument.slug]) }}
                </div>
            {% endfor %}

            {% for typeDocument in candidat.typeCandidat.documentsAFournir|filter(typeDocument => typeDocument.multiple == true) %}
                <div class="col-md-6">
                    <div class="row" style="display: flex">
                        {{ form_label(form[typeDocument.slug]) }}
                        <button style="height: min-content;" type="button" id="add_{{typeDocument.slug}}" class="btn-xs btn-success ajout {{typeDocument.slug}}"> Ajouter <i class="fas fa-plus"></i> </button>
                    </div>

                    {{ form_widget(form[typeDocument.slug], {'attr': {'data-prototype': formMacros.printCollectionFichiersRow(form[typeDocument.slug].vars.prototype)|replace({'"' : "'"}) }}) }}
                    
                </div>
            {% endfor %}
        </div>

    </div>

    <div class="form-buttons-footer">
         <div class="form-group"><a class="btn retour-liste" href="{{ path('app_candidat_index') }}"><i class="fas fa-sign-out-alt"></i> Retour à la liste</a></div>
        {{ form_row(form.valider, { 'label': '<i class="fas fa-check"></i> Valider', 'label_html' : true }) }}
        {{ form_row(form.validerEtSuivant, { 'label': '<i class="fas fa-check"></i> Valider et passer au suivant', 'label_html' : true }) }}
    </div>
{{ form_end(form) }}
