{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{encore_entry_link_tags('enregistreImage')}}
    {{encore_entry_link_tags('modal-box')}}
    {{encore_entry_link_tags('loader')}}
{% endblock %}
{% block page_title %} Paramétrage de l'application {% endblock %}
{% block page_subtitle %}{% endblock %}
{% block page_content %}
    
{% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
{% block box_title %}
    Template par défaut du mail
    <span class="loader" ></span>
{% endblock box_title %}
{% block box_body %}
    <div id="show_image_modal" class="action_modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span id="closespan_image" class="close">&times;</span>
            <div class="image"></div>
        </div>
    </div>
    {{ include('_form_mail_template.html.twig') }}
    
{% endblock %}
{% endembed %}
{% endblock %}  

{% block javascripts %}
    {{ parent() }}
    {{encore_entry_script_tags('enregistreImage')}}
{% endblock %}