{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{encore_entry_link_tags('modal-box')}}
    {{encore_entry_link_tags('loader')}}
    {{ encore_entry_link_tags('enregistreFichiers') }}
{% endblock %}
{% block page_title %} Paramétrage de l'application {% endblock %}
{% block page_subtitle %}{% endblock %}
{% block page_content %}
    
{% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
{% block box_title %}
    Template par défaut du mail
    <span class="loader" ></span>
{% endblock box_title %}
{% block box_body %}
    {{ include('_partials/image_modal.html.twig') }}
    {{ include('_partials/_form_mail_template.html.twig') }}
    
{% endblock %}
{% endembed %}
{% endblock %}  

{% block javascripts %}
    {{ parent() }}
    {{encore_entry_script_tags('enregistreFichiers')}}
    {{encore_entry_script_tags('glyphiconAlterne')}}
{% endblock %}